{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="card bg-dark text-white mx-auto mt-5" style="width: 30rem;">
			<div class="card-body">
				<h2 class="card-text">Bienvenue sur mon PortFolio !</h2>
			</div>
			<img src="imgs/logo.png" class="card-img-bottom img-fluid" alt="Logo">
		</div>
	</div>
{% endblock %}
